@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: hidden;
  margin: 0px;
}

#app {
  height: 100vh;
}

mark {
  padding: 0px 3px;
  background-color: #fef3c7;
  color: #92400e;
}